.about-me h1 {
  display: inline;
  color: #AFCEF6;
  border-bottom-style: solid;
  border-bottom-color: #AFCEF6;;
}

.about-me-text p {
  color: #BBCBDA;
}



.about-me { /* Flex container */
  display: flex;
  flex-direction: column;
  width: 753px;
  margin: 0px auto;
  min-height: 100vh;
}

.about-me-flex-2 {
  display: flex;
  flex-direction: row;
}

.headshot {
  width: 235px;
  height: 235px;
  align-self: center;
  margin-left: 100px;
  border-radius: 10px;
  border-style: solid;
  border-color: #61dafb;
}

.tech-container {
  grid-template-columns: 100px 100px 100px;
  display: inline-grid;
  column-gap: 10px;
  row-gap: 10px;
}

.tech-container p {
  font-size: 14px;
  text-align: center;
}
