#intro {
  color: #79E8F6;
  font-size: 20px;
  display: inline;
  padding-bottom: 0;
  text-align: left;
  margin: 0 0 0 0;
  position: relative;
  left: 5px;
}

#name {
  color: #79E8F6;
  display: inline;
  margin: 0 0 0 0;
  text-align: left;
  font-size: 96px;
}

.brief-intro {
  font-size: 20px;
  width: 753px;
  position: relative;
  left: 5px;
  text-align: justify;
  color: #BBCBDA;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0px auto;
}

@media only screen and (max-width: 500px) {
  #intro {
    font-size: 15px;
    width: 80%;
    margin: 0px auto;
  }
  #name {
    font-size: 2.5em;
    width: 80%;
    margin: 0px auto;
  }

  .brief-intro {
    font-size: 15px;
    align-self: center;
    width: 80%;
    text-align: justify;
  }

}
