.navbar {
  position: fixed;
  width: 100%;
  background-color: #19448A;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.nav-items {
  display: flex;
  flex-direction: row;
  //background-color: #3E5C76;
  align-content: center;
  width: 100%;
  border: none;
  justify-content: space-between;
}

#logo {
  width: 90px;
  height: 90px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
}

li {
  float: right;
  margin-right: 1em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  color: #79E8F6;
}

#resume {
  outline: solid;
  outline-color: white;
  outline-width: thin;
  outline-radius: 10px;
}

#resume:hover {
  outline: solid;
  outline-color: #79E8F6;
}

body{
  background-color: #3E5C76;
}

@media only screen and (max-width: 500px)
{
  .navbar {
    width: 100%;
  }

  #logo {
    width: 30px;
    height: 30px;
  }

  li a{
    font-size: 2.25vw;
    padding: 5px;
  }

  ul {
    flex-basis: 80%;
  }

  .nav-items {
    align-items: center;
    justify-content: space-between;
  }

}
